<%= nested_form_for(receipe) do |f| %>
  <% if receipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= t('.errors_occured', count: receipe.errors.count) %>

      <ul>
      <% receipe.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= t('receipes.attributes.name') %>
    <%= f.text_field :name %>
  </p>

  <%= f.fields_for :aroma_bundles do |bundle_form| %>
    <%= t('receipes.attributes.aroma') %>
    <%= bundle_form.collection_select :aroma_id, selectable_aromas ,:id, :name %>
    <%= bundle_form.text_field :percent, size: 5 %>%
    <%= bundle_form.link_to_remove t('receipes.links.remove_aroma') %>
  <% end %>
  <p><%= f.link_to_add t('receipes.links.add_aroma'), :aroma_bundles %></p>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
